<section class="slider-area">
  <div class="spinner-grow text-primary spinner" role="status" *ngIf="loadingProduct$ | async">
    <span class="sr-only">Loading...</span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3" *ngIf="categories$ | async as categories">
        <app-side-bar [categories]="categories"></app-side-bar>
      </div>
      <div class="col-lg-9 col-md-9 padding-fix-l20">
        <div class="owl-carousel owl-slider">
          <app-carousel></app-carousel>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="row">
          <div class="col-md-12"></div>
        </div>
      </div>
      <div class="col-lg-9 col-md-8 padding-fix-l20">
        <div class="product-area">
          <div class="area-title">
            <h5>Product</h5>
          </div>
          <div *ngIf="products$ | async as products">
            <app-product-list
              [cartIds]="cartIds$ | async"
              [products]="products"
              (addProduct)="addToCart($event)"
              (removeProduct)="removeFromCart($event)"
            ></app-product-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
