<!-- Menu Area -->
<section class="menu-area">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-menu">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a>HOME <i class="fa fa-angle-down"></i></a>
            </li>
            <li class="list-inline-item mega-menu">
              <a>MEGA MENU <i class="fa fa-angle-down"></i></a>
            </li>
            <li class="list-inline-item">
              <a>PAGES <i class="fa fa-angle-down"></i></a>
            </li>
            <li class="list-inline-item">
              <a>BLOG <i class="fa fa-angle-down"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="20-contact.html">CONTACT</a>
            </li>
            <li class="list-inline-item trac-btn">
              <a href="">Track Your Order</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Menu Area -->

<section class="sticky-menu" [style.display]="display">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3">
        <p class="logo-name">EShop<span>.vn</span></p>
      </div>
      <div class="col-lg-6 col-md-7"></div>
    </div>
  </div>
</section>
