/* =======================================
08. Menu Area
======================================= */
.menu-area {
  padding-bottom: 15px;
}

.menu-area .main-menu ul li {
  position: relative;
  margin-right: 20px;
}

.menu-area .main-menu ul li a {
  font-size: 15px;
  color: #444444;
  display: inline-block;
  font-weight: 600;
  padding: 10px 5px;
}

.menu-area .main-menu ul li a i {
  font-size: 14px;
  color: #666666;
}

.menu-area .main-menu ul li a:hover {
  cursor: pointer;
}

.menu-area .main-menu ul li:first-child a {
  padding-left: 0;
}

.menu-area .main-menu ul li:last-child.trac-btn {
  float: right;
  margin-right: 0;
}

.menu-area .main-menu ul li:last-child.trac-btn a {
  font-size: 14px;
  color: #e45151;
  background: #fff;
  padding: 4px 15px;
  border: 1px solid #e45151;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}

.menu-area .main-menu ul li:last-child.trac-btn a:hover {
  background: #e45151;
  color: #fff;
}

.menu-area .main-menu ul li ul.dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 170px;
  background: #fff;
  text-align: left;
  border: 1px solid #eeeeee;
  border-top: 3px solid #5677fc;
  padding: 0;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 0;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  visibility: hidden;
  z-index: 999;
  -webkit-transform-origin: center top 0;
  -ms-transform-origin: center top 0;
  transform-origin: center top 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.menu-area .main-menu ul li ul.dropdown li {
  position: relative;
  margin-right: 0;
}

.menu-area .main-menu ul li ul.dropdown li a {
  font-size: 14px;
  padding: 8px 20px;
  display: block;
  font-weight: normal;
}

.menu-area .main-menu ul li ul.dropdown li a:hover {
  background: #f5f5f5;
  color: #5677fc;
}

.menu-area .main-menu ul li:hover ul.dropdown {
  opacity: 1;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  visibility: visible;
}

.menu-area .main-menu ul li.mega-menu {
  position: inherit;
}

.menu-area .main-menu ul li.mega-menu .mega-box {
  width: calc(100% - 30px);
  margin: 0 auto;
  position: absolute;
  left: 15px;
  top: 100%;
  background: #fff;
  text-align: left;
  border: 1px solid #eeeeee;
  border-top: 3px solid #5677fc;
  padding: 30px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 0;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  visibility: hidden;
  z-index: 999;
  -webkit-transform-origin: center top 0;
  -ms-transform-origin: center top 0;
  transform-origin: center top 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.menu-area .main-menu ul li.mega-menu .mega-box .clt-area h6 {
  color: #444444;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.menu-area .main-menu ul li.mega-menu .mega-box .clt-area a {
  font-size: 14px;
  color: #666666;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-weight: normal;
  display: block;
}

.menu-area .main-menu ul li.mega-menu .mega-box .clt-area a:hover {
  color: #5677fc;
}

.menu-area .main-menu ul li.mega-menu .mega-box .sm-phn h6 {
  color: #444444;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.menu-area .main-menu ul li.mega-menu .mega-box .sm-phn a {
  font-size: 14px;
  color: #666666;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-weight: normal;
  display: block;
}

.menu-area .main-menu ul li.mega-menu .mega-box .sm-phn a:hover {
  color: #5677fc;
}

.menu-area .main-menu ul li.mega-menu .mega-box .lt-news h6 {
  color: #444444;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 28px;
}

.menu-area .main-menu ul li.mega-menu .mega-box .lt-news .news-box {
  margin-bottom: 20px;
}

.menu-area .main-menu ul li.mega-menu .mega-box .lt-news .news-box .news-img img {
  max-width: 65px;
  margin-right: 10px;
}

.menu-area .main-menu ul li.mega-menu .mega-box .lt-news .news-box .news-con p {
  margin-bottom: 3px;
}

.menu-area .main-menu ul li.mega-menu .mega-box .lt-news .news-box .news-con span {
  font-size: 13px;
  color: #969696;
}

.menu-area .main-menu ul li.mega-menu .mega-box .m-slider {
  border: 1px solid #e5e5e5;
}

.menu-area .main-menu ul li.mega-menu .mega-box .m-slider .slider-item {
  position: relative;
}

.menu-area .main-menu ul li.mega-menu .mega-box .m-slider .slider-item span {
  color: #fff;
  font-weight: 600;
  background: #e45151;
  text-transform: uppercase;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  padding-top: 12px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin-left: 15px;
  margin-top: 15px;
}

.menu-area .main-menu ul li.mega-menu .mega-box .mega-bnr {
  margin-top: 20px;
}

.menu-area .main-menu ul li.mega-menu .mega-box .mega-bnr a.bnr-box {
  display: block;
  border: 1px solid #eeeeee;
  padding: 5px 10px 8px 0px;
}

.menu-area .main-menu ul li.mega-menu .mega-box .mega-bnr a.bnr-box img {
  max-width: 100px;
  margin-right: 10px;
}

.menu-area .main-menu ul li.mega-menu .mega-box .mega-bnr a.bnr-box span {
  font-size: 20px;
  color: #e45151;
  text-transform: uppercase;
  font-weight: 600;
  vertical-align: text-top;
}

.menu-area .main-menu ul li.mega-menu .mega-box .mega-bnr a.bnr-box:hover {
  border-color: #5677fc;
}

.menu-area .main-menu ul li.mega-menu:hover .mega-box {
  opacity: 1;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  visibility: visible;
}

/* =======================================
09. Menu Area 2
======================================= */
.menu-area2 .sidemenu {
  height: 50px;
  position: relative;
}

.menu-area2 .sidemenu p {
  font-size: 16px;
  color: #fff;
  background: #5677fc;
  font-weight: 700;
  text-transform: uppercase;
  height: 50px;
  padding: 13px 22px;
}

.menu-area2 .sidemenu p i {
  font-size: 14px;
  color: #fff;
  float: right;
  margin-top: 5px;
}

.menu-area2 .sidemenu ul.gt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-top: none;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 0;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  visibility: hidden;
  z-index: 999;
  -webkit-transform-origin: center top 0;
  -ms-transform-origin: center top 0;
  transform-origin: center top 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.menu-area2 .sidemenu ul.gt-menu li a {
  display: block;
  font-size: 15px;
  padding: 8px 20px;
  border-bottom: 1px solid #eeeeee;
}

.menu-area2 .sidemenu ul.gt-menu li a img {
  margin-top: -3px;
  margin-right: 12px;
}

.menu-area2 .sidemenu ul.gt-menu li a i {
  font-size: 14px;
  color: #969696;
  float: right;
  margin-top: 4px;
}

.menu-area2 .sidemenu ul.gt-menu li a:hover {
  background: #f5f5f5;
  font-weight: 600;
}

.menu-area2 .sidemenu ul.gt-menu li:last-child a {
  border-bottom: none;
}

.menu-area2 .sidemenu ul.gt-menu li .mega-menu {
  position: absolute;
  width: calc(340% - 4px);
  max-width: 910px;
  top: 0;
  left: 100%;
  background: #fff;
  border: 1px solid #e5e5e5;
  padding: 55px;
  overflow: hidden;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 0;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  visibility: hidden;
  z-index: 999;
  -webkit-transform-origin: center top 0;
  -ms-transform-origin: center top 0;
  transform-origin: center top 0;
}

.menu-area2 .sidemenu ul.gt-menu li .mega-menu .smartphone h6,
.menu-area2 .sidemenu ul.gt-menu li .mega-menu .tablet h6,
.menu-area2 .sidemenu ul.gt-menu li .mega-menu .f-phone h6,
.menu-area2 .sidemenu ul.gt-menu li .mega-menu .accesories h6 {
  color: #444444;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 600;
}

.menu-area2 .sidemenu ul.gt-menu li .mega-menu .smartphone a,
.menu-area2 .sidemenu ul.gt-menu li .mega-menu .tablet a,
.menu-area2 .sidemenu ul.gt-menu li .mega-menu .f-phone a,
.menu-area2 .sidemenu ul.gt-menu li .mega-menu .accesories a {
  font-size: 14px;
  color: #666666;
  padding: 6px 0;
  border: none;
}

.menu-area2 .sidemenu ul.gt-menu li .mega-menu .smartphone a:hover,
.menu-area2 .sidemenu ul.gt-menu li .mega-menu .tablet a:hover,
.menu-area2 .sidemenu ul.gt-menu li .mega-menu .f-phone a:hover,
.menu-area2 .sidemenu ul.gt-menu li .mega-menu .accesories a:hover {
  background: transparent;
  color: #5677fc;
}

.menu-area2 .sidemenu ul.gt-menu li .mega-menu .tablet {
  margin-bottom: 30px;
}

.menu-area2 .sidemenu ul.gt-menu li .mega-menu .mg-bnr img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 135px;
  margin-bottom: -135px;
  margin-right: -35px;
}

.menu-area2 .sidemenu ul.gt-menu li .mega-menu .mg-bnr .mg-content {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 120px;
  margin-bottom: -15px;
}

.menu-area2 .sidemenu ul.gt-menu li .mega-menu .mg-bnr .mg-content h4 {
  color: #e45151;
  text-transform: uppercase;
  font-weight: 700;
}

.menu-area2 .sidemenu ul.gt-menu li .mega-menu .mg-bnr .mg-content span {
  font-size: 15px;
  color: #969696;
  font-weight: 600;
}

.menu-area2 .sidemenu ul.gt-menu li .mega-menu .tab-bnr img {
  margin-bottom: -80px;
  margin-right: -32px;
}

.menu-area2 .sidemenu ul.gt-menu li .mega-menu .pw-bnr img {
  width: 110px;
}

.menu-area2 .sidemenu ul.gt-menu li:hover .mega-menu {
  opacity: 1;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  visibility: visible;
}

.menu-area2 .sidemenu:hover p {
  cursor: pointer;
}

.menu-area2 .sidemenu:hover ul.gt-menu {
  opacity: 1;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  visibility: visible;
}

.menu-area2 .main-menu ul li {
  position: relative;
  margin-right: 20px;
}

.menu-area2 .main-menu ul li a {
  font-size: 15px;
  color: #444444;
  display: inline-block;
  font-weight: 600;
  padding: 14px 5px 14px 0;
}

.menu-area2 .main-menu ul li a i {
  font-size: 14px;
  color: #666666;
}

.menu-area2 .main-menu ul li a:hover {
  cursor: pointer;
}

.menu-area2 .main-menu ul li:last-child.cup-btn {
  float: right;
  margin-right: 0;
  margin-top: 10px;
}

.menu-area2 .main-menu ul li:last-child.cup-btn a {
  font-size: 14px;
  color: #e45151;
  background: #fff;
  padding: 4px 15px;
  border: 1px solid #e45151;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}

.menu-area2 .main-menu ul li:last-child.cup-btn a:hover {
  background: #e45151;
  color: #fff;
}

.menu-area2 .main-menu ul li ul.dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  min-width: 170px;
  background: #fff;
  text-align: left;
  border: 1px solid #eeeeee;
  border-top: 3px solid #5677fc;
  padding: 0;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 0;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  visibility: hidden;
  z-index: 999;
  -webkit-transform-origin: center top 0;
  -ms-transform-origin: center top 0;
  transform-origin: center top 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.menu-area2 .main-menu ul li ul.dropdown li {
  position: relative;
  margin-right: 0;
}

.menu-area2 .main-menu ul li ul.dropdown li a {
  font-size: 14px;
  padding: 8px 20px;
  display: block;
  font-weight: normal;
}

.menu-area2 .main-menu ul li ul.dropdown li a:hover {
  background: #f5f5f5;
  color: #5677fc;
}

.menu-area2 .main-menu ul li:hover ul.dropdown {
  opacity: 1;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  visibility: visible;
}

.menu-area2 .main-menu ul li.mega-menu {
  position: inherit;
}

.menu-area2 .main-menu ul li.mega-menu .mega-box {
  width: calc(135% - 44px);
  margin: 0 auto;
  position: absolute;
  left: -31.5%;
  top: 100%;
  background: #fff;
  text-align: left;
  border: 1px solid #eeeeee;
  border-top: 3px solid #5677fc;
  padding: 30px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 0;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  visibility: hidden;
  z-index: 999;
  -webkit-transform-origin: center top 0;
  -ms-transform-origin: center top 0;
  transform-origin: center top 0;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.menu-area2 .main-menu ul li.mega-menu .mega-box .clt-area h6 {
  color: #444444;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.menu-area2 .main-menu ul li.mega-menu .mega-box .clt-area a {
  font-size: 14px;
  color: #666666;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-weight: normal;
  display: block;
}

.menu-area2 .main-menu ul li.mega-menu .mega-box .clt-area a:hover {
  color: #5677fc;
}

.menu-area2 .main-menu ul li.mega-menu .mega-box .sm-phn h6 {
  color: #444444;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.menu-area2 .main-menu ul li.mega-menu .mega-box .sm-phn a {
  font-size: 14px;
  color: #666666;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-weight: normal;
  display: block;
}

.menu-area2 .main-menu ul li.mega-menu .mega-box .sm-phn a:hover {
  color: #5677fc;
}

.menu-area2 .main-menu ul li.mega-menu .mega-box .lt-news h6 {
  color: #444444;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 28px;
}

.menu-area2 .main-menu ul li.mega-menu .mega-box .lt-news .news-box {
  margin-bottom: 20px;
}

.menu-area2 .main-menu ul li.mega-menu .mega-box .lt-news .news-box .news-img img {
  max-width: 65px;
  margin-right: 10px;
}

.menu-area2 .main-menu ul li.mega-menu .mega-box .lt-news .news-box .news-con p {
  margin-bottom: 3px;
}

.menu-area2 .main-menu ul li.mega-menu .mega-box .lt-news .news-box .news-con span {
  font-size: 13px;
  color: #969696;
}

.menu-area2 .main-menu ul li.mega-menu .mega-box .m-slider {
  border: 1px solid #e5e5e5;
}

.menu-area2 .main-menu ul li.mega-menu .mega-box .m-slider .slider-item {
  position: relative;
}

.menu-area2 .main-menu ul li.mega-menu .mega-box .m-slider .slider-item span {
  color: #fff;
  font-weight: 600;
  background: #e45151;
  text-transform: uppercase;
  width: 45px;
  height: 45px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  padding-top: 12px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin-left: 15px;
  margin-top: 15px;
}

.menu-area2 .main-menu ul li.mega-menu .mega-box .mega-bnr {
  margin-top: 20px;
}

.menu-area2 .main-menu ul li.mega-menu .mega-box .mega-bnr a.bnr-box {
  display: block;
  border: 1px solid #eeeeee;
  padding: 5px 10px 8px 0px;
}

.menu-area2 .main-menu ul li.mega-menu .mega-box .mega-bnr a.bnr-box img {
  max-width: 100px;
  margin-right: 10px;
}

.menu-area2 .main-menu ul li.mega-menu .mega-box .mega-bnr a.bnr-box span {
  font-size: 20px;
  color: #e45151;
  text-transform: uppercase;
  font-weight: 600;
  vertical-align: text-top;
}

.menu-area2 .main-menu ul li.mega-menu .mega-box .mega-bnr a.bnr-box:hover {
  border-color: #5677fc;
}

.menu-area2 .main-menu ul li.mega-menu:hover .mega-box {
  opacity: 1;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  visibility: visible;
}

/* ====================
10. Mobile Menu
==================== */
.mobile-menu-area {
  display: none;
}

@media (max-width: 767px) {
  .top-bar,
  .top-bar2,
  .logo-area,
  .logo-area2,
  .cart-body,
  .cart-overlay,
  .menu-area,
  .menu-area2 {
    display: none;
  }
}

.mean-container .mean-bar {
  background: #fff;
  float: none;
  z-index: 999;
  text-align: center;
  padding: 10px 0 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.mean-container .mean-bar:after {
  content: '';
  clear: both;
  display: block;
}

.mean-container .mean-bar .meanmenu-reveal {
  color: #5677fc;
  position: absolute;
  left: 0 !important;
  right: inherit;
  top: 0;
  width: 23px;
  margin-top: 20px;
  margin-left: 30px;
}

.mean-container .mean-bar .meanmenu-reveal span {
  display: block;
  background: #666666;
  height: 2px;
  margin-top: 4px;
}

.mean-container .mean-bar .mean-nav {
  float: left;
  width: 100%;
  background: transparent;
  margin-top: 0;
}

.mean-container .mean-bar .mean-nav a img {
  margin-top: 6px;
  margin-right: -60px;
  max-width: 140px;
}

.mean-container .mean-bar .mean-nav a span {
  color: #444444;
  float: right;
  padding: 3px 12px;
  margin-top: 5px;
  margin-right: 30px;
  border: 1px solid #e5e5e5;
  font-weight: 600;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.mean-container .mean-bar .mean-nav a span:hover {
  color: #fff;
  background: #5677fc;
  border-color: #5677fc;
}

.mean-container .mean-bar .mean-nav ul {
  margin-top: 35px;
  text-align: left;
  padding: 0 30px;
}

.mean-container .mean-bar .mean-nav ul li {
  position: relative;
}

.mean-container .mean-bar .mean-nav ul li a {
  color: #555555;
  display: block;
  padding: 6px 0;
  border-bottom: 1px solid #eeeeee;
  letter-spacing: 0.5px;
}

.mean-container .mean-bar .mean-nav ul li a:hover {
  color: #5677fc;
}

.mean-container .mean-bar .mean-nav ul li:nth-child(1) a {
  border-top: 1px solid #eeeeee;
}

.mean-container .mean-bar .mean-nav ul li .mean-expand {
  font-size: 22px !important;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -6px;
  z-index: 2;
  background: transparent;
  border: none !important;
}

.mean-container .mean-bar .mean-nav ul li .mean-expand:hover {
  background: transparent;
}

.mean-container .mean-bar .mean-nav ul li ul {
  padding-left: 20px;
  margin-top: 10px;
}

.mean-container .mean-bar .mean-nav ul li ul li a {
  font-size: 13px;
  border: none !important;
}

.sticky-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 fadeInDown;
  animation: 300ms ease-in-out 0s normal none 1 fadeInDown;
  background: #fff;
  height: 80px;
  -webkit-box-shadow: 0 0 20px -10px #222222;
  box-shadow: 0 0 20px -10px #222222;
}
.sticky-menu p {
  font-size: 44px;
  font-weight: 500;
}
