.container {
  max-width: 1200px;
  margin-left: auto;
  margin-top: auto;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid var(--bs-border-color-translucent);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}
.product-img {
  max-width: 450px;
  max-height: 450px;
}
.cart-body {
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
