<!-- Top Bar -->
<section class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-4">
        <div class="top-left d-flex">
          <div class="lang-box">
            <span><img src="" alt="" />Vietnamese<i class="fa fa-angle-down"></i></span>
            <ul class="list-unstyled">
              <li><img src="" alt="" />English</li>
            </ul>
          </div>
          <div class="mny-box">
            <span>VND<i class="fa fa-angle-down"></i></span>
            <ul class="list-unstyled">
              <li>USD</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-8">
        <div class="top-right text-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="icon-top-bar"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
                  />
                </svg>

                TK của tôi</a
              >
            </li>
            <li class="list-inline-item">
              <a href=""><img src="" alt="" />DS yêu thích</a>
            </li>
            <li class="list-inline-item">
              <a href=""><img src="" alt="" />Đơn hàng</a>
            </li>
            <li class="list-inline-item">
              <a href=""><img src="" alt="" />Đăng nhập</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Top Bar -->
<!-- Logo Area -->
<section class="logo-area">
  <div class="container">
    <div class="row justify-content-center align-self-center">
      <div class="col-md-3">
        <div class="logo align-self-center">
          <p class="logo-name">EShop<span>.vn</span></p>
        </div>
      </div>
      <div class="col-md-5 padding-fix">
        <form action="#" class="search-bar">
          <input type="text" name="search-bar" placeholder="Tìm kiếm sản phẩm..." />
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <div class="col-md-4">
        <div class="carts-area d-flex">
          <div class="call-box d-flex">
            <div class="call-ico">
              <img src="../../../assets/img/call.png" alt="" />
            </div>
            <div class="call-content">
              <span>Gọi chúng tôi</span>
              <p>(+84)098970173</p>
            </div>
          </div>
          <div class="cart-box ml-auto text-center">
            <a class="cart-btn" (click)="cartClick()">
              <!-- <img src="../../../assets/img/cart.png" alt="cart" />
              <span>2</span> -->
              <!-- <app-cart-show></app-cart-show> -->
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-menu-bar></app-menu-bar>
<app-cart #appcart></app-cart>
