<div class="owl-slider">
  <ngb-carousel class="no-indicators" *ngIf="images">
    <ng-template ngbSlide>
      <div class="select-item select-item-1">
        <img [src]="images[0]" alt="Random first slide" />
        <div class="slider-box">
          <div class="slider-table">
            <div class="slider-tablecell text-left">
              <h5>Big Sale</h5>
              <h2>Electric Collection</h2>
              <p>Save Up To 25% Off</p>
              <a href="#">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="select-item select-item-2">
        <img [src]="images[1]" alt="Random second slide" />
        <div class="slider-box">
          <div class="slider-table">
            <div class="slider-tablecell text-right">
              <h5>Big Sale</h5>
              <h2>Watch Collection</h2>
              <p>Save Up To 25% Off</p>
              <a href="#">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<!-- <div class="slider-btm-box d-flex justify-content-around">
  <div class="single-box mr-20">
    <a href=""
      ><img src="https://www.thetahmid.com/themes/xemart-v1.0/images/sb-1.png" alt="" class="img-fluid"
    /></a>
  </div>
  <div class="single-box mr-20">
    <a href=""
      ><img src="https://www.thetahmid.com/themes/xemart-v1.0/images/sb-2.png" alt="" class="img-fluid"
    /></a>
  </div>
  <div class="single-box">
    <a href=""
      ><img src="https://www.thetahmid.com/themes/xemart-v1.0/images/sb-3.png" alt="" class="img-fluid"
    /></a>
  </div>
</div> -->
